<div class="modal fade" id="author-sources-modal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Zdroje mien autorov</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Zavrieť"></button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table table-sm align-middle mb-0">
            <thead>
              <tr>
                <th>Mená</th>
                <th>Scopus</th>
                <th>WoS</th>
              </tr>
            </thead>
            <tbody id="author-sources-modal-body"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
